/* Regola di Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    background-color: #FF6800;
    box-shadow: 0 0 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header-container {
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
}

.logo-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.category  {
    display: flex;
    align-items: center ;
    list-style: none;
    width: 20%;
}

.logo {
    height: 40%;
}

.category a, .icon-container i {
    color: #fff;
    padding: 0 8px;
}

.category a {
    text-decoration: none;
}

/* Main */

main {
    width: 80%;
    margin: auto;
}

.main-container {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-content{
    width: calc(100% / 3);
    position: relative;
    margin-bottom: 50px;
}

.img-content img {
    width: 97%;
}

.second-image {
    display: none;
}

.tag {
    position: absolute;
    bottom: 50px;
    padding-bottom: 50px;
}

.discount {
    background-color: red;
}

.type {
    background-color: green;
}

.discount, .type {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 10px;
}

.img-content:nth-child(2) .type, .img-content:nth-child(3) .type {
    display: none;
}

.img-content:nth-child(5) .discount, .img-content:nth-child(5) .type {
    display: none;
}

.img-content:nth-child(6) .type {
    display: none;
}

.heart {
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #fff;
    font-size: 30px;
}

.prize-discount {
    color: red;
    font-weight: 700;
}

.prize-normal {
    text-decoration: line-through;
}

.brand {
    font-size: 15px;
}

/* Footer */

footer {
    background-color: #1A1A1A;
    height: 80px;
}

.footer-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.footer-list li a {
    padding-right: 10px;
    text-decoration: none;
    font-size: 12px;
}

.footer-left, .footer-right, .footer-list a{
    color: #fff ;
}

.icon-list i {
    margin-right: 5px;
}

.azienda, .dove-trovarci {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* hover */
.img-content:hover .img-normal {
    display: none;
}

.img-content:hover .second-image {
    display: block;
}

.heart:hover {
    color: red;
}

.footer-list a:hover {
    text-decoration: underline;
    color: #FF6800;
}

.category a:hover {
    text-decoration: underline;
    color: #1A1A1A;
}

.icon-container i:hover {
    color: #1A1A1A;
}

.icon-list i:hover {
    color: #FF6800;
}