/* Regola di Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    background-color: #FF6800;
    box-shadow: 0 0 15px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container {
    height: 60px;
    width: 80%;
    margin: auto;
    display: flex;
}

.logo-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.category  {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    list-style: none;
    width: 20%;
}

.logo {
    height: 40%;
}

.category a, .icon-container i {
    color: #fff;
    padding: 0 8px;
}

.category a {
    text-decoration: none;
}

/* Main */

main {
    width: 80%;
    margin: auto;
}

.main-container {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}
.img-content{
    width: calc(100% / 3);
    position: relative;
}

.img-content img {
    width: 97%;
}

.img-hover {
    display: none;
}

.tag {
    position: absolute;
    bottom: 50px;
    padding-bottom: 50px;
}

.discount {
    background-color: red;
}

.type {
    background-color: green;
}

.discount, .type {
    color: #fff;
    font-size: 15px;
    padding: 3px;
}

.heart {
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #fff;
    font-size: 30px;
}

.prize-discount {
    color: red;
    font-weight: 700;
}

.prize-normal {
    text-decoration: line-through;
}